body{
    margin: 0;
    padding: 0;
    background-color: #dbe7ff;
}

.header img {
    width: 100%;
    height: auto;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px 40px;

    background: #f7f7f7;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    position: sticky;  
    top: 0;
    z-index: 1000;
}

/* ITEM MENU UTAMA */
.navbar li {
    position: relative;
}

.navbar li a img {
    height: 45px;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;

    left: 50%;
    transform: translateX(-50%);

    background: #ffffff;
    display: none;
    flex-direction: column;
    min-width: max-content;
    padding: 10px 0;

    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 999;
}

.dropdown li a img {
    height: 35px;
    padding: 6px 15px;
    display: block;
}

.dropdown li a img:hover {
    background-color: #f6f6f6;
    border-radius: 6px;
}

.navbar li:hover .dropdown {
    display: flex;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 card per baris */
    gap: 20px;
    padding: 20px;
}

.explain-card {
    background-color: #f8d034;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.explain-card h3 {
    margin-top: 0;
    color: #0c3b2e;
}

.explain-card ul {
    padding-left: 20px;
}

.explain-card li {
    margin-bottom: 8px;
}

.explain-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
}

p{
    text-align: justify;
    padding: 20px;
    background-color: #f8d034;
    border-radius: 12px;
}
